body{
  background-color: #d32737;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
}
a {
  color: #d32737;
  transition: 0.5s;
}

#theme-body .container-fluid{
  padding-left:8.4%;
  padding-right:8.4%;
}
#theme-body .container-fluid .row img{
  height:500px;
  object-fit: cover;
}
#theme-body .text-inside-list{
  font-size: 12px;
}


.yut{
  font-size: 20px;
  text-align: left;
  color: #FFFFFF;
  margin-top: 5px;
  font-style: italic;
}

a:hover,
a:active,
a:focus {
  color:#d32737;
  outline: none;
  text-decoration: none;
}

p {
  padding: 0;
  margin: 0 0 15px 0;
}

#first{
  text-align: start;
  margin-top: 8%;
  line-height: 25px;
  font-weight: bold;
  text-align: left;  
  letter-spacing: 2px;
  color: #FFFFFF;
  font-size: 25px;
}
#first2,#first4{
    /* font: normal normal medium; */
    font-weight:medium;
    font-size: 12px;
    letter-spacing: 0.8px;
    word-spacing: -1px;
}
#first3{
  text-align: left;  
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 2px;
  color: #FFFFFF;
  opacity: 0.9;
}
.button{
  color: #d32737;
  font-weight: bold;  
  text-transform: uppercase;
  font-size: 15px;
  letter-spacing: 2px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  padding-top:5px;
  padding-bottom:5px;
  padding-left:15px;
  padding-right: 15px;
}
  
.button4{
    border-radius: 13px;
}  

#header {
  background: #d32737; /*navbar color changed for odw*/
  padding-top:4%;
  height: 168px;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  transition: all 0.5s;
  z-index: 997;
}

#header.header-scrolled {
  background: #d32737;
  
  padding: 15px 0;
  height: 120px;
  transition: all 0.5s;
}

#header #logo {
  float: left;
  padding-left: 4%;
}

#header #logo #odw_logo img{
  padding: 0;
  margin: 0;
  width:auto;
  height:50px;
}
#header #logo #odc_logo img{
  padding: 0;
  margin: 0;
  width:auto;
  height:50px;
}
#header #logo ul{
  list-style-type: none;
}
#header #logo ul li{
  display: inline-block;
  padding-right: 50px;
}
#header .social-links{
  padding-right: 2%;
  padding-left: 15%;
  padding-bottom: 0px;
}
#header .social-links a {
  font-size: 10px;
  display: inline-block;
  background: #fff;
  color: #333;
  line-height: 1;
  padding: 7px 0;
  margin-right: 8px;
  border-radius: 50%;
  text-align: center;
  width: 25px;
  height: 25px;
  transition: 0.3s;
}

#header .social-links a:hover {
  background: #333;
  color: #fff;
}

.nav-menu,
.nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu ul {
  position: absolute;
  display: none;
  padding-top: 102px;
  left: 0;
  z-index: 99;
}

.nav-menu li {
  position: relative;
  white-space: nowrap;
}

.nav-menu > li {
  float: left;
}

.nav-menu li:hover > ul,
.nav-menu li.sfHover > ul {
  display: block;
}

.nav-menu ul ul {
  top: 0;
  left: 100%;
}

.nav-menu ul li {
  min-width: 180px;
}

/* Nav Menu Arrows */

.sf-arrows .sf-with-ul {
  padding-right: 30px;
}

.sf-arrows .sf-with-ul:after {
  content: "\f107";
  position: absolute;
  right: 15px;
  /*font-family: FontAwesome;*/
  font-style: normal;
  font-weight: normal;
}

.sf-arrows ul .sf-with-ul:after {
  content: "\f105";
}

/* Nav Meu Container */

#nav-menu-container {
  float: right;
  margin: 0;
  padding-right: 7.29%;
}

/* Nav Meu Styling */

.nav-menu a {
  padding-top:10px;
  padding-right:10px;
  text-decoration: none;
  display: inline-block;
  color: #fff;
  font-weight: 700;
  font-size: 13px;
  text-transform: uppercase;
  outline: none;
  letter-spacing: 2px;
}

.nav-menu li:hover > a
{
  color: #000;
}


.nav-menu > li {
  margin-left: 10px;
}

.nav-menu ul {
  margin: 4px 0 0 0;
  padding: 10px;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  background: #fff;
}

.nav-menu ul li {
  transition: 0.3s;
}

.nav-menu ul li a {
  padding: 10px;
  color: #333;
  transition: 0.3s;
  display: block;
  font-size: 13px;
  text-transform: none;
}

.nav-menu ul li:hover > a {
  color: #d32737;
}

.nav-menu ul ul {
  margin: 0;
}

/* Mobile Nav Toggle */

#mobile-nav-toggle {
  position: fixed;
  left: 1.04%;
  top: 2%;
  z-index: 999;
  margin: 10px 20px 0 0;
  border: 0;
  background: none;
  font-size: 24px;
  display: none;
  transition: all 0.4s;
  outline: none;
  cursor: pointer;
}

#mobile-nav-toggle i {
  color: #fff;
  transition: 0.5s;
  padding-left: 8.4%;
}

/* Mobile Nav Styling */

#mobile-nav {
  position: fixed;
  top: 0;
  padding-top: 18px;
  bottom: 0;
  z-index: 998;
  background: rgba(0, 0, 0, 0.8);
  opacity: 0.9;
  left: -260px;
  width: 260px;
  overflow-y: auto;
  transition: 0.4s;
}

#mobile-nav ul {
  padding-left:15%;
  padding-top: 20%;
  margin: 0;
  list-style: none;
}

#mobile-nav ul li {
  position: relative;
}

#mobile-nav ul li a {
  color: #d32737;
  font-size: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
  overflow: hidden;
  padding: 10px 22px 10px 15px;
  position: relative;
  text-decoration: none;
  width: 100%;
  display: block;
  outline: none;
  font-weight: 700;
}



#mobile-nav ul li a:hover {
  color: #ffff;
}

#mobile-nav ul li li {
  padding-left: 30px;
}


#mobile-nav ul .menu-has-children i {
  position: absolute;
  right: 0;
  z-index: 99;
  padding: 7px;
  cursor: pointer;
  color: #fff;
}

#mobile-nav ul .menu-has-children i.fa-chevron-up {
  color: #bf2664;
}

#mobile-nav ul .menu-has-children li a {
  text-transform: none;
}

#mobile-nav ul .menu-item-active {
  color: #bf2664;
}

#mobile-body-overly {
  width: 100%;
  height: 100%;
  z-index: 997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  display: none;
}

/* Mobile Nav body classes */

body.mobile-nav-active {
  overflow: hidden;
}

body.mobile-nav-active #mobile-nav {
  left: 0;
}

body.mobile-nav-active #mobile-nav-toggle {
  color: #fff;
}
#register{
  padding-top: 5px;
}
.buttonReg a{
  color:#d32737;
  background-color: #ffff;
  border-radius: 20px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 10px;
  padding-right: 10px;
  transition: 0.5s;
}
.buttonReg a:hover{
  color:#fff;
  background-color: #000;
}

#theme-body{
  color:#fff; 
  text-align:left;
}

#odw{
  display: table;
  width: 100%;
  height: auto;
  color:#fff; 
  margin-top:168px;
  text-align:left;
  padding-bottom:50px;
}
#collabs .container-fluid{
  padding-left: 4%;
}
#odw .container-fluid{
  padding-left: 8.4%;
  padding-right: 8.4%;
}

/* .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 1;
  transition: .5s ease;
} */



.text {
  background-color: #fff;
  color: #d32737;
  padding: 10px 10px 10px 10px;
  border-radius: 20px;
  text-shadow:2px  #555;
  font-size: 20px;
  font-weight: bold;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
}
/* Create four equal columns that sits next to each other */

#eve .row{
  position: relative;
}

#eve .child-one{
  position: absolute;
}

#eve .child-two{
  position: absolute;
  width:100%;
}


#eve .col {
  height:350px;
  padding: 0%;
}

#eve .image{
  width:100%;
  height:350px;
  object-fit:cover;
}

#eve table{
  height:380px;
  width:100%;
  margin-left:0%;
  margin-right:0%;
}

#eve table colgroup .first-col{
  width: 13%;
}
#eve table colgroup .second-col{
  width: 74%;
}
#eve table colgroup .third-col{
  width: 13%;
}

/* .column img {
  margin-top: 0px;
  vertical-align: middle;
  width: 100%;
  height: auto;
  transition: 0.5s;
  
} 
.column img:hover{
  -ms-transform: scale(1.05); 
  -webkit-transform: scale(1.05);
  transform: scale(1.05); 
}*/

/* SPEAKERS PART 1*/
#speaker .container-fluid{
  padding-left:8.4%;
  padding-right:8.4%;
}
#speakers .container-fluid,#events .container-fluid{
  padding-left:8.4%;
  padding-right:8.4%;
}

#speakers .speakers-body{
  position: relative;
  padding-left:15px;
  padding-right:15px;
}



#speakers h3{
  letter-spacing: 0px;
  text-transform: uppercase;
  opacity: 0.9;
  padding-left: 5%;
  color:white;
  font-weight:bold;
  font-size:2.5rem;
}
/* SPEAKERS PART 2*/
/* #speakers .first-image,.second-image{
  object-fit: fill;
} */

#speakers table{
  width:100%;
  height:380px;
  padding:0%;
}

#speakers table colgroup .big-first-col{
  width:80%;
}

#speakers table colgroup .big-second-col{
  width:20%;
}

#speakers table colgroup .first-col{
  width:85%;
}

#speakers table colgroup .second-col{
  width:15%;
}

#speakers p{
  /* line-height: 20px; */
  font-size:12px;
  font-weight: bold;
  letter-spacing: 0.8px;
  word-spacing: -1px;
  margin-bottom: 0px;
}

#speakers .col{
  padding:0%;
  height: 380px;
}

#speakers .odd-row-info{
  text-align:left;
  background-color: #d32737;
}

#speakers .even-row-info{
  text-align:left;
  background-color: #4ab0d8;
}


.odd-row-info .heading{
  padding-left:14.6%;
  font-weight: 700;  
  color: #FFFFFF;
  font-size: 20px;
  text-transform: uppercase;
}

.even-row-info .heading{
  font-weight: 700;  
  color: #FFFFFF;
  font-size: 20px;
  text-transform: uppercase;
}

.odd-row-info .line{
  border-bottom:2px solid #fff;
  max-width:100%;
  margin:6.3% 0% 6.3% 0%;
}

.even-row-info .line{
  border-bottom:2px solid #fff;
  max-width:100%;
  margin: 6.3% 0% 6.3% 0%;
}

.odd-row-info p{
  color:white;
  padding-left:17.6%;
}

.even-row-info p{
  color:white;
  padding-right:17.6%;
}

/* FIRST ODD ROW */

#speakers .first-odd-row-info{
  background-color: #d32737;
}

.first-odd-row-info .line{
  max-width:100%;
  margin:4.8% 0% 4.8% 0%;
}

.first-odd-row-info .heading{
  color:white;
  font-size:20px;
  padding-left: 25%; 
  margin-bottom: 0%;
}

.first-odd-row-info p{
  color:white;
  padding-left: 25%; 
  
}

/* FIRST EVEN ROW */

#speakers .first-even-row-info{
  background-color: #4ab0d8;
}

.first-even-row-info .line{
  max-width:100%;
  margin:4.8% 0% 4.8% 0%;
}

.first-even-row-info .heading{
  color:white;
  font-size:20px;
  padding-right: 25%; 
  margin-bottom: 0%;
}

.first-even-row-info p{
  color:white;
  padding-right: 25%; 
  
}

/* SPEAKERS IMAGES PROPERTY */

.speakers-sec-img{
  object-fit:cover;
}

#speakers .other-than-laptop{
  display: none;
}
#collabs #sph{
  color:#fff;
  font-size:20px;
  padding-bottom: 20px;
  font-weight: bold;
}
/* SPONSORS */

#sponsors .container-fluid{
  padding-left:8.4%;
  padding-right:8.4%;
}
#theme .container-fluid{
  background-color: #d32737;
}
#sponsors,#direction,#speaker,#destination,#events{
  height: auto;
  background-color: #4ab0d8;
}
#spons .place{
  max-width: 200px;
  height: auto;
}

#spe{
  line-height: 25px;
  font-weight: bold;
  text-align: left;  
  letter-spacing: 2px;
  color: #FFFFFF;
  font-size: 25px;
  text-transform: uppercase;
}
#spa{
  line-height: 25px;
  font-weight: bold;
  text-align: left;  
  letter-spacing: 2px;
  color: #FFFFFF;
  font-size: 25px;
  padding-top: 25%;
  text-transform: uppercase;
}
#sp{
  line-height: 25px;
  font-weight: bold;
  text-align: left;  
  letter-spacing: 2px;
  color: #FFFFFF;
  font-size: 25px;
  padding-top: 15%;
  padding-bottom:2%;
  text-transform: uppercase;
}
#st{
  color:#ffff;
  letter-spacing: 0.8px;
  word-spacing: -1px;
  font-size: 14px;
  padding-bottom: 7%;
}



/* DIRECTIONS HEADING */

#direction .container-fluid{
  padding-left:8.4%;
  padding-right:8.4%;
}

/* DESTINATIONS */

#destination .container-fluid{
  padding-left:8.4%;
  padding-right:8.4%;
}

#place .container-fluid{
  padding:5% 8.4% 2% 8.4%;
}

#place .col{
  padding-right:3%;
}

#place .sp1{
  line-height: 25px;
  font-weight: bold;
  text-align: left;  
  letter-spacing: 2px;
  color: #FFFFFF;
  font-size: 20px;
  text-transform: uppercase;
}
#place .st1{
  color:#ffff;
  font-size: 12px;
  letter-spacing: 0.8px;
  word-spacing: -1px;
  padding-bottom: 2%;
}


#place .collage{
  object-fit: cover;
  height:400px;
  padding:0%;
}

#spimages{
  background-color: #ffff;
  width: 100%;
  padding-bottom: 10.41%;
}
#spimages h1{
  color:#d32737;
  line-height: normal;
  font-weight: 700;
  text-align: left;  
  letter-spacing: 2px;
  font-size: 25px;
  padding-top: 100px;
}
.mp{
  display: none;
}
.wp{
  display: block;
}
#timer .row{
  margin: 0%;
  padding:0%;
}
#timer .col{
  padding:0%;
  margin: 0%;
}



#timer .parent-block{
  position:relative;
  height:300px;
  width:100%;
}
#timer .child-one{
  position: absolute;
  height:300px;
  width:100%;
  object-fit:cover;
}

#timer .child-two{
  position:absolute;
  height:300px;
  width:100%;
}

#timer .tab-head{
  height: 300px;
  width:100%;
  text-align:left;
}

#timer .tab-head-text{
  padding-left:20.18%;
}

#timer .heading{
  line-height: 25px;
  font-weight:bold;
  color:white;
  font-size:25px;
  letter-spacing: 2px;
  text-align: center;
  opacity: 0.9;
}

#timer .tab{
  height: 300px;
  width:80%;
}


#timer .countdown-text{
  line-height: normal;
  color:#87F8FC;
  font-weight:bold;
  letter-spacing: 1px;
  font-size: 20px;
  line-height: 60px;
  letter-spacing: 1.5px;
  text-align: left;
}

#timer .number{
  line-height: normal;
  color:white;
  font-weight: bold;
  font-size: 70px;
  line-height: 60px;
  letter-spacing: 1.5px;
  text-align: left;
}



/* table,th,td{
  border:1px solid #000;
} */

.tab tr td{
  width:20%;
  text-align: center;
}


#destinations .place{
  height:250px;
  object-fit: cover;
}

#destinations .col{
  padding:0%;
}




#footer .container-fluid{
  padding-left:8.4%;
  padding-right:8.4%;
}

#footer {
  background: #111;
  padding: 0 0 30px 0;
  color: #eee;
  font-size: 12px;
}

#footer .footer-top {
  background: #111;
  padding: 60px 0 30px 0;
}

#footer .footer-top .footer-info {
  margin-bottom: 30px;
}

#footer .footer-top .footer-info h3 {
  font-size: 25px;
  margin: 0 0 20px 0;
  padding: 2px 0 2px 10px;
  line-height: 1;
  font-weight: 700;
  letter-spacing: 3px;
  border-left: 4px solid #d32737;
}

#footer .footer-top .footer-info p {
  font-size: 12px;
  letter-spacing: 0.8px;
  word-spacing: -1px;
  margin-bottom: 0;
  color: #eee;
}

#footer .footer-top .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #333;
  color: #eee;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
  background: #d32737;
  color: #fff;
}

#footer .footer-top h4 {
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 12px;
}

#footer .footer-top h4::before,
#footer .footer-top h4::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
}

#footer .footer-top h4::before {
  right: 0;
  background: #555;
}

#footer .footer-top h4::after {
  background: #d32737;
  width: 60px;
}

#footer .footer-top .footer-links {
  margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-top .footer-links ul i {
  padding-right: 8px;
  color: #ddd;
}

#footer .footer-top .footer-links ul li {
  border-bottom: 1px solid #333;
  padding: 10px 0;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links ul a {
  color: #eee;
}

#footer .footer-top .footer-links ul a:hover {
  color: #d32737;
}

#footer .footer-top .footer-contact {
  margin-bottom: 30px;
}

/* #footer .footer-top .footer-contact p {
  line-height: 26px;
} */

/*#footer .footer-top .footer-newsletter {
  margin-bottom: 30px;
}
#footer .footer-top .footer-newsletter input[type="email"] {
  border: 0;
  padding: 6px 8px;
  width: 65%;
}
#footer .footer-top .footer-newsletter input[type="submit"] {
  background: #e82736;
  border: 0;
  width: 35%;
  padding: 6px 0;
  text-align: center;
  color: #fff;
  transition: 0.3s;
  cursor: pointer;
}
#footer .footer-top .footer-newsletter input[type="submit"]:hover {
  background: #d32737;
}
*/
.copyright {
  color: #ffff;
  font-size: 12px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

/*#footer .credits {
  text-align: center;
  font-size: 13px;
  color: #ddd;
}*/

.soc-med > img{
	display:inline;
}

@media (max-width:991px){
  
  #timer .tab-head-text{
    padding-left:8.4%;
  }

  #timer .countdown{
    padding-left:7%;
  }

  #theme-body .vetu{
    padding-top: 50px;
  }

}

@media (min-width:1250px){
#header .social-links {
    padding-right: 7.5%;
}	
}


@media (max-width:1250px){
  #header{
    position: fixed;
    height:130px;
    padding-top: 4%;
  }
  #header.header-scrolled{
    background: #d32737;
    padding-top: 4%;
    height: 130px;
    transition: all 0.5s ease;
  }
  #header #logo{
    float:right;
  }
  #header #logo #odw_logo img{
    width: auto;
    height: 45px;
  }
  #header #logo ul li{
    padding-right: 20px;
  }
  #nav-menu-container{
    display: none !important;
  }
  #mobile-nav-toggle{
    top: 2%;
    left: 7.5%;
    font-size: 2rem;
    display: inline;
  }
  .buttonReg a{
    background-color: #ffff;
    border-radius: 20px;
  }
  .buttonReg a:hover{
    background-color: #999;
  }
  #theme-body {
    font-size: 14px;

  }
  #odw{	
    margin-top:80px;
    font-size:14px;
  }
  .column {
    flex: 50%;
    max-width: 50%;
  }
  #header .social-links {
    padding-left:55%;
}	
}

@media (max-width:400px){
  .button{
    letter-spacing: 1px;
    font-size: 13px;
  }
  #eve .text{
    font-size: 20px;
  }

  #eve .col {
    height:250px;
  }

  #eve .image{
    height:250px;
  }
  
  #eve table{
    height:250px;
  }
  #eve .col{
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 100%;
    max-width: 100%;
  }

  #destinations .col{
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 50%;
    max-width: 50%;
  }

  #place .col{
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 100%;
    max-width: 100%;
  }
   
}

@media (min-width: 400px) and (max-width:575px){
  #eve .col,#place .col{
    flex-grow: 0;
    flex-shrink: 0;    
    flex-basis: 100%;
    max-width:100%;
  }
  #destinations .col{
    flex-grow: 0;
    flex-shrink: 0;    
    flex-basis: 50%;
    max-width:50%;
  }
}

@media (max-width: 500px){
  #events,#speaker,#destination{
    height:275px;
  }
  #spa{
    padding-top: 40%;
  }
  .cmp{
    padding-left:7.8%;
    padding-right:7.8%;
  }

  #header{
    position: fixed;
    height:110px;
    padding-top: 4%;
  }
  #header.header-scrolled{
    background: #d32737;
  
    padding-top:4%;
    height: 110px;
    transition: all 0.5s ease;
  }
  #header #logo{
    float:right;
  }
  #header #logo #odw_logo img{
    padding-top: 5px;
    width: auto;
    height: 35px;
  }

  #header #logo ul li{
    padding-right: 10px;
  }
  #header .social-links{
    padding-right: 0%;
    padding-left: 40%;
  }
  #nav-menu-container{
    display: none !important;
  }
  #mobile-nav-toggle{
    top: 0%;
    left: 6%;
    font-size: 2rem;
    display: inline;
  }
  #theme- .container-fluid .row img{
    height:400px;
  }
  .column {
    flex: 100%;
    max-width: 100%;
  }

  #destinations .place{
    height:180px;
  }
}

@media (max-width:991px){
  #speakers .only-for-laptop{
    display:none;
  }

  #speakers .other-than-laptop{
    display:block;
  }
}

@media (max-width:993px)
{
  #speakers table colgroup .big-first-col{
    width:85%;
  }
  
  #speakers table colgroup .big-second-col{
    width:15%;
  }
  .first-odd-row-info .heading{
    padding-left: 17.255%; 
  }
  
  .first-odd-row-info p{
    padding-left: 17.255%; 
    
  }
  .mp{
    display: block;
  }
  .wp{
    display: none;
  }
}

@media (max-width:580px){
  #first2{
    font-size: 12px;
    font-weight: bold;
  }
  #speakers table{
    height:250px;
  }
  #speakers .col{
    height: 250px;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 50%;
    max-width: 50%;
  }
  .odd-row-info .heading{
    line-height: 17px;
    font-weight: bold;  
    color: #FFFFFF;
    font-size: 15px;
    text-transform: uppercase;
  }
  
  .even-row-info .heading{
    line-height: 17px;
    font-weight: bold;  
    color: #FFFFFF;
    font-size: 15px;
    text-transform: uppercase;
  }
  #speakers p{
    line-height: 12px;
    font-size: 10px;
    font-weight: bold;
  }
  #collabs .container-fluid{
    padding-left: 8.4%;
    padding-right: 8.4%;
  }
  #collabs #sph{
    font-size: 18px;
  }
  #spons .place{
    max-width: 120px;
    height: auto;
  }
}
@media (max-width:400px){
  #spons .place{
    max-width: 95px;
    height: auto;
  }
}
@media (max-width:420px){
  #speakers table{
    height:200px;
  }
  #speakers .col{
    height: 200px;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 50%;
    max-width: 50%;
  } 
}


@media (min-width:768px) and (max-width:1150px){
  #timer .tab{
      width:90%;
  }

}

@media (min-width:768px) and (max-width:991px){
  #timer .tab{
      height:150px;
      width:100%
  }
  #timer .tab-head{
    height:150px;
  }
  
}

@media (min-width:425px) and (max-width:768px)
{
  #timer .parent-block{
      height:260px;
  }

  #timer .tab{
      width:100%;
      height:130px;
  }

  #timer .tab-head{
      height: 130px;
  }

  #timer .number{
      font-size: 50px;
      line-height: 40px;
      letter-spacing: 1px;
  }

  #timer .countdown-text{
      font-size: 14px;
      line-height: 40px;
      letter-spacing: 1px;
  }

}

@media (max-width:427px){
  #timer .parent-block{
      height:260px;
  }

  #timer .tab{
      width:100%;
      height:130px;
  }

  #timer .tab-head{
      height: 130px;
  }

  #timer .number{
      font-size: 35px;
      line-height: 25px;
      letter-spacing: 1px;
  }

  #timer .countdown-text{
      font-size: 10px;
      line-height: 25px;
      letter-spacing: 0.6px;
      font-weight: bold;
  }
}

@media (min-width:565px) and (max-width:575px){

  #timer .col{
    flex-basis:100%;
    max-width: 100%;
  }
}
